* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    background-color: #181A1A;
    color: white;
    overflow: scroll;
    background-image: url("Banner.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
}

.navbar {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 30px;
    margin-top: 10px;
    position: relative;
    z-index: 99;
    font-size: medium;
    position: sticky;
    top: 0;
}

.navbar a {
    text-decoration: none;
    color: white;
    font-weight: 500;
    transition: opacity 0.7s ease;
}

.navbar a:hover {
    opacity: 0.5;
}

.navbar a.active {
    font-weight: bold;
}

.nav-logo {
    height: 70px;
}

.link-logo {
    display: flex;
    align-items: center;
}

.container-boxed {
    max-width: 1200px;
    margin: 0 auto;
}

.card-container {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    padding: 20px;
}

.card {
    display: flex;
    justify-content: space-between;
    height: 220px;
    width: 250px;
    background-color: rgba(224, 224, 224, 0.918);
    color: #181A1A;
    flex-direction: column;
    border: 1px solid #ddd;
    border-radius: 8px;
    padding: 15px;
    font-size: 18px;
}

.card-buttons {
    display: flex;
    gap: 10px;
}

.btn {
    display: inline-block;
    width: 110px;
    padding: 8px 4px;
    font-size: 0.85rem;
    font-weight: 500;
    text-align: center;
    text-decoration: none;
    border-radius: 8px;
    border: 1px solid #d1d5db;
    background-color: #f3f4f6;
    color: #181A1A;
    transition: all 0.3s ease;
    cursor: pointer;
}

.btn:hover {
    opacity: 0.7;
}

.btn-detail {
    background-color: #f3f4f6;
    width: 100%;
}

.btn-fav {
    background-color: #f3f4f6;
    color: #374151;
}

.btn-fav.active-fav {
    background-color: rgb(146, 16, 16);
    border-color: transparent;
    color: white;
}

.btn-wrapper {
    display: flex;
    flex-direction: column;
    gap: 8px;
    width: 100%;
}

input {
    width: 200px;
    border-radius: 10px;
    padding: 10px;
    transition: opacity 0.5s ease;
    border-color: rgb(146, 16, 16);
}

select {
    border-radius: 10px;
    padding: 10px;
}

select:hover {
    cursor: pointer;
}

.search-filter-vehicle {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    padding: 22px;
}

.favorites-sidebar {
    position: fixed;
    top: 0;
    right: 0;
    width: 300px;
    height: 100vh;
    border-left: 3px solid rgb(60, 60, 60);
    box-shadow: -5px 0 25px rgba(0, 0, 0, 0.6);
    z-index: 999;
    display: flex;
    flex-direction: column;
}

.sidebar-content {
    padding: 25px;
    display: flex;
    flex-direction: column;
}

.sidebar-content h2 {
    font-size: 22px;
    color: white;
    margin-bottom: 12px;
}

.sidebar-cards-container {
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.compare-sidebar {
    display: flex;
    flex-direction: column;
    position: fixed;
    top: 0;
    left: 0;
    width: 300px;
    height: 100vh;
    border-right: 3px solid rgb(146, 16, 16);
    box-shadow: 5px 0 25px rgba(0, 0, 0, 0.6);
    z-index: 999;
}

.sidebar-mini-card {
    background-color: rgba(224, 224, 224, 0.918);
    border-radius: 6px;
    padding: 15px;
    color: #181A1A;
    font-size: 0.95rem;
    font-weight: 500;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
    margin-bottom: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.btn-start-compare {
    display: block;
    width: 100%;
    padding: 12px;
    background-color: rgb(146, 16, 16);
    color: white;
    font-size: 1rem;
    font-weight: bold;
    text-align: center;
    text-decoration: none;
    border-radius: 8px;
    border-color: transparent;
    margin-top: auto;
    cursor: pointer;

}

.btn-start-compare:hover {
    background-color: rgb(180, 20, 20);
    opacity: 1;
}

.btn-remove-compare {
    background: none;
    border: none;
    color: #181A1A;
    font-size: 18px;
    cursor: pointer;
    padding: 0 5px;
    transition: color 0.2s ease;
}

.btn-remove-compare:hover {
    color: rgb(180, 20, 20);
}